<div class="d-flex align-items-center justify-content-between">
  <h2 class="mb-2 lead fs-5 fw-bold text-white">Chats</h2>
  <div class="dropdown">
    <button class=" border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="ri-edit-box-line fs-4 text-white"></i>
      <% if(friendRequests.length> 0) {%>
        <i class="alertBox">
          <%= friendRequests.length %>
        </i>
        <%}%>
    </button>
    <ul class="dropdown-menu" style="width: 300px; min-width: fit-content;">
      <li>
        <h5 class="fw-bold px-3">You</h5>
        <a href="/users/profile" class="dropdown-item d-flex align-items-center gap-2">
          <img src="/<%= currentUser.avatar_url %>" alt="<%= currentUser.username %>'s avatar"
            class="img-fluid rounded-circle" width="35px" height="30px">
          <h4>
            <%= currentUser.username %>
          </h4>
        </a>
      </li>
      <li>
        <button id="addNewButton" class="dropdown-item">New Friend</button>
      </li>

      <!-- Pending Friend Requests -->
      <% if(friendRequests.length> 0) {%>
        <li>
          <h2 class="mb-2 lead px-3 fw-bold">Pending Requests</h2>
          <ul class="list-group" id="friend-requests">
            <% friendRequests.forEach(request=> { %>
              <li style="cursor: default;"
                class="dropdown-item d-flex align-items-center justify-content-between gap-2 ">
                <div class="d-flex align-items-center justify-content-center gap-2">
                  <img src="/<%= request.avatar_url %>" class="img-fluid rounded-circle"
                    alt="<%= request.avatar_url %>'s avatar" width="35px" height="30px">
                  <p class="fw-bold m-0" style="font-size: 12px;">
                    <%= request.sender_username %>
                  </p>
                </div>
                <div class="d-flex gap-2 align-items-center">
                  <form action="/friends/accept-request" method="POST" class="m-0 p-0">
                    <input type="hidden" name="requestId" value="<%= request.id %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <button type="submit" class="btn btn-sm btn-primary">Accept</button>
                  </form>
                  <form action="/friends/reject-request" method="POST" class="m-0 p-0">
                    <input type="hidden" name="requestId" value="<%= request.id %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <button type="submit" class="btn btn-sm btn-danger">Reject</button>
                  </form>
                </div>
              </li>
              <% }) %>
          </ul>
        </li>
        <% } %>
    </ul>
  </div>
</div>

<!-- Search Bar -->
<div id="filter-friends-form" class="mb-3 d-flex align-items-center gap-2">
  <input type="text" id="filter-friends" placeholder="Search" class="form-control">
</div>
<div id="no-results" style="display: none; color: gray; margin-top: 10px;text-align: center;">
  No results found.
</div>
<ul class="list-group" id="user-list">
  <% friends.forEach(friend=> {
    let lastMessage = lastMessages.find(msg => msg.sender_id === friend.id || msg.receiver_id === friend.id);
    %>
    <a href="/messages/chat?receiverId=<%= friend.id %>" data-username="<%= friend.username.toLowerCase() %>"
      class="friend-link rounded list-group-item-primary list-group-item-action text-start text-decoration-none lead p-2 mb-1">
      <li class="p-0 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-2 sidebar-user-info">
          <div class="rounded-circle overflow-hidden" style="width: 60px; height: 60px;">
            <img src="/<%= friend.avatar_url %>" class="img-fluid rounded-circle" alt="<%= friend.username %>'s avatar"
              width="60px" height="60px">
          </div>
          <strong style="width:80%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: start;"
            class="text-white">
            <span class="friend-username" data-original="<%= friend.username %>">
              <%= friend.username %>
            </span>
            <p class="text-white sidebar-last-message">
              <%= lastMessage ? lastMessage.message : "" %>
            </p>
          </strong>

        </div>
        <span class="text-white sidebar-last-message-time">
          <%= lastMessage ? lastMessage.created_at : "" %>
        </span>
      </li>
    </a>
    <% }); %>
</ul>

<div class="d-flex align-items-center justify-content-center">
  <p class="text-white m-0" style="font-size: 12px;">
    <i class="ri-lock-line"></i>
    End-to-end encrypted
  </p>
</div>

<div id="addNewContainer">
  <%- include('_addNew') %>
</div>

<script src="/js/filterFriends.js"></script>
<script src="/js/searchUser.js"></script>
<script src="/js/sidebar.js"></script>